.lgn-main-container{
  display: flex;
  justify-content: center;
}
.login-container{
  width: 60%;

}
.w100{
  width: 100%;
}
.flex-space-inbetween{
  display: flex;
  justify-content: space-between;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.login-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.left-panel {
  flex: 1;
  background: url('../../../assets/loginPageGradient.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

/* Right panel styles */
.right-panel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.login-content {
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.title {
  font-size: 2em;
  font-weight: bold;
}

.subtitle {
  margin-bottom: 2em;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 100%;
  margin-bottom: 1em;
}

.form-group label {
  display: none;
}

.form-group input {
  width: 100%;
  padding: 0.8em;
  margin-top: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 0.8em;
  margin-top: 1em;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.login-button:hover {
  background-color: #5952e0;
}

.forgot-password {
  margin-top: 1em;
  color: #6c63ff;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  font-size: 0.875em;
  margin-top: 0.25em;
  float: left;
  text-align:left;
}

/* Registration section */
.register-section {
  margin-top: 1em;
  text-align: center;
}

.register-button {
  margin-top: 0.5em;
  padding: 0.8em 2em;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.register-button:hover {
  background-color: #5952e0;
}
